@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import 'variables';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import 'toastr/toastr.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
}
#app {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }