$white: #fff;

$color1: #50FFB1;
$color2: #4FB286;
$color3: #3C896D;
$color4: #546D64;
$color5: #4D685A;

$table-background-color: #2a3338;
$table-input-background-color: rgb(61, 68, 73);
$table-border: rgb(61, 68, 73);
$table-even-color: rgb(61, 68, 73);
$button-delete-color:  #F44336;